/*especificidad -> 1*/
body{
    font: 400 1.4em Tahoma, sans-serif;
    line-height: 3;
    color: black;
    background-color: white;
}

/*especificidad -> 1*/
h1{
    text-align: center;
}

/*especificidad -> 10*/
.container {
    padding: 1em;
    border: solid;
    border-radius: 0.7em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: blue;
    display: grid;
}

/*especificidad -> 10*/
.listaNoticias{
    width: 70%;
    top: 30%;
    margin: auto;
}

/*especificidad -> 11*/
input[type=text]{
    width: 35%;
    padding: 0.75em 1.25em;
    margin: 0.75em 0;
    display: inline-block;
    border: 0.063em solid black;
    box-sizing: border-box;
    border-radius: 0.7em;
}

 /*Especificidad -> 11*/
 input[type=button], input[type=submit], input[type=reset] {
    font-size: 1em;
    max-width: 16%;
    height: 2.2em;
    cursor: pointer;
}